apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: homarr
spec:
  ingressClassName: traefik
  rules:
    - host: lds.toddpillars.com
      http:
        paths:
          - backend:
              service:
                name: homarr
                port:
                  number: 7575
            path: /
            pathType: Prefix