apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: loki-stack
      version: "2.10.*"
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: monitoring
      interval: 12h
  values:
    loki:
      enabled: true
      persistence:
        enabled: true
        storageClassName: local-path
        size: 10Gi
    promtail:
      enabled: true
    grafana:
      enabled: false
      sidecar:
        datasources:
          enabled: false
