apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "80.13.*"
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: monitoring
      interval: 12h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  driftDetection:
    mode: enabled
    ignore:
      - paths: ["/metadata/annotations/prometheus-operator-validated"]
        target:
          kind: PrometheusRule
  values:
    grafana:
      admin:
        existingSecret: grafana-admin-credentials
        userKey: admin-user
        passwordKey: admin-password
      persistence:
        enabled: true
        type: pvc
        storageClassName: local-path
        size: 2Gi
        accessModes:
          - ReadWriteOnce
      ingress:
        enabled: true
        ingressClassName: traefik
        hosts:
          - grs.toddpillars.com
        tls:
         - secretName: grafana-tls-secret
           hosts:
             - grs.toddpillars.com
      additionalDataSources:
        - name: Loki
          type: loki
          access: proxy
          url: http://loki:3100
          isDefault: false
          version: 1
          editable: true
          jsonData: {}
